/* Base window background */
window {
    background-color: #1E1E2E; /* Adjust based on your window setup */
    color: #CDD6F4;
}

/* Button styles */
button {
    background-color: #F5C2E7;
    border-radius: 5px;
    color: #1E1E2E;
    padding: 5px 10px;
}

button:hover {
    background-color: #ABE9B3;
}

button:active {
    background-color: #F28BAD;
}

/* Label styles - Assuming .label is a custom style class */
label {
    color: #F5E0DC;
}

/* Entry styles (text inputs) */
entry {
    background-color: #313244;
    border-radius: 4px;
    border: 1px solid #89B4FA;
    padding: 5px 10px;
    color: #CDD6F4;
}

scrollbar, scrollbar:hover {
    background-color: #2E2E3E;
}

scrollbar trough {
    background-color: #1E1E2E;
}

scrollbar slider, scrollbar slider:hover, scrollbar slider:active {
    background-color: #89B4FA;
    border-radius: 10px;
}

list {
    background-color: #1E1E2E;
}
